*{
    padding:0;
    margin:0;
    border:0;
    text-align:center;
    color:black;
}
.navbar{
height:100px;
background-color:darkcyan;
display:flex;
justify-content:space-evenly;

}
.navbar a {
padding:10px;
margin-top:15px;
margin-bottom:15px;
border-radius:50%;
display:inline-flex;
background-color:azure;
}

.navbar a:hover{
background-color:darkgray;
}


.playedhands{
    height:70px;
    width:100%;
}
.playedhands img{
    width:70px;
    height:70px;
    justify-content: space-around;
}
.profilepics{
    width:100%;
    padding-top:20px;
}
.profilepics img{
    max-width:100px;
    max-height:150px;
    justify-content:space-between;
    margin-left:40px;
}
.rps{
    text-align:center;
    justify-content: center;
    display:flex;
    height:90px;
    width:100%;
    background-color:darkcyan;
}
.rps button{
    font-size:100%;
    align-items: center;
    display:inline;
    margin-top:10px;
    padding:10px;
    border:10px;
    border-radius:50%;
    margin-bottom:10px;
}
button:hover{
    background-color:darkred;
}
#reset-rps{
    PADDING:5PX;
    BORDER:10PX;
    background-color:yellow;
}
#reset-rps:hover{
    background-color:darkred;
}
/*TIC TAC TOE CSS BELOW*/
.top .mid .bot{
    display:flex;
    min-height:70px;
    min-width:70px;
    max-width:320px;
    max-height:100px;
    margin:2px;
    border:2px;
    border-color:darkcyan;
    color:darkcyan;
}
.square{
    align-items: center;
    max-height:100px;
    max-width:100px;
    height:100px;
    width:100px;
}

.color{
    height:90px;
    width:100%;
    background-color:darkcyan;
}
#ttt-resetBtn {
    font-size:100%;
    margin-top:20px;
    border-radius:50%;
    justify-content: center;
    PADDING:15PX;
    BORDER:10PX;
    background-color:yellow;
}
#ttt-resetBtn:hover{
    background-color:darkred;
}
#btnbgcolor{
    height:90px;
    width:100%;
    background-color:darkcyan;
}
/*media screen for small phones. Since developer tools smallest fixed unit was 320px i thaught that was the magic
limit number but since reading the feedback on my previous project i made a few adjustments */
@media screen and (max-width: 310px) {
    
    .square{
        height:70px;
        width:70px;
    }
    .profilepics{
    display:flex;
    }
    .profilepics img{
    display:inline-flex;
    margin:0;
    border:0;
    }
}