body{
    padding:0;
    margin:0;
    border:0;
    text-align:center;
    color:black;
    display:flex;
    flex-direction: column;
    
}

.navbar{
    height:100px;
    background-color:darkcyan;
    display:flex;
    justify-content:space-evenly;
}

.navbar a {
    border:2px solid black;
    padding:10px;
    margin-top:15px;
    margin-bottom:15px;
    border-radius:50%;
    display:inline-flex;
    background-color:azure;
}

.navbar a:hover{
    background-color:darkgray;
}

main {
    display:flex;
    flex-direction: column;
    position:relative;
    margin: 0 auto;
    width:100vw;
}

.playedhands{
    height:70px;
    width:100%;
}

.playedhands img{
    width:70px;
    height:70px;
    justify-content: space-around;
}

.profilepics{
    width:100%;
    padding-top:20px;
}

.profilepics img{
    max-width:100px;
    max-height:150px;
    justify-content:space-between;
}

.rpsbtnssection{
    display: flex;
    justify-content: center;
    background-color:darkcyan;
}

.rpsbtnssection button{
    border:2px solid black;
    border-radius:10px;
    margin:1%;
    padding:1%;
    margin-top:10px;
}

button:hover{
    background-color:darkred;
}

.resetrpsbtndiv {
    background-color: darkcyan;
    padding:20px;
}


#reset-rps{
    border:2px solid black;
    align-self: center;
    width:100px;
    height:50px;
    background-color:yellow;
    font-size: 120%;
    border-radius:10px;

}

#reset-rps:hover{
    background-color:darkred;
}

.bottom {
    background-color: darkcyan;
    padding:30%;
}

.rpsmsg {
    display:block;
    color:orange;
}

/*TIC TAC TOE CSS BELOW*/

.boardsection {
    width:320px;
    max-width:80vw;
    align-self: center;
}

.top .mid .bot{
    display:flex;
    margin:2px;

}
.square{
    max-width: 100px;
    width:25vw;
}

.square:hover {
    background-color: darkgray;
}

.tttstartmsg {
    display:block;
    color:orange;
}

#ttt-resetBtn {
    width:100px;
    height:50px;
    font-size:120%;
    margin-top:20px;
    margin-bottom:20px;
    border:2px solid black;
    border-radius:10px;
    justify-content: center;
    background-color:yellow;
}

#ttt-resetBtn:hover{
    background-color:darkred;
}

.tttresetbtnsection{
    margin-top:20px;
    width:100%;
    height:max-content;
    background-color:darkcyan;
}
