*{
    padding:0;
    margin:0;
    border:0;
    text-align:center;
    color:black;
}

.navbar{
    padding:0;
    margin:0;
    border:0;
    height:70px;
    width:100%;
    font-size:150%;
    background-color:darkcyan;
    display:flex;
    justify-content: space-evenly;
    text-decoration:none;
}

.navbar li{
list-style-type:none;
display:inline-flex;
margin-top:10px;
margin-bottom:12px;
}

.navbar a{
    background-color:azure;
    padding:10px;
    border:10px;
    border-radius:50%;
    text-decoration: none;

}
a:hover{
    background-color:black;
    color:azure;
}

.playedhands{
    height:70px;
    width:100%;
}
.playedhands img{
    width:70px;
    height:70px;
    justify-content: space-around;
}
.profilepics{
    width:100%;
    padding-top:20px;
}
.profilepics img{
    max-width:100px;
    max-height:150px;
    justify-content:space-between;
    margin-left:40px;
    margin-left:40px;
}
.rps{
    text-align:center;
    justify-content: center;
    display:flex;
    height:90px;
    width:100%;
    background-color:darkcyan;
}
.rps button{
    align-items: center;
    display:inline;
    margin-top:10px;
    padding:10px;
    border:10px;
    border-radius:50%;
    margin-bottom:10px;
   
}
button:hover{
background-color:darkred;
}

#reset-rps{
PADDING:5PX;
BORDER:10PX;
background-color:yellow;
}
#reset-rps:hover{
background-color:darkred;

}

/*TIC TAC TOE CSS BELOW*/

#board{
padding-top:4px;
background-color:darkcyan;
margin:2px;
border:2px;
border-bottom:2px;
display:inline-block;
max-width:320px;
max-height:320px;
width:320px;
height:320px;
text-align: center;
align-items:center;
}

.top{
background-color:aliceblue;
display:inline-flex;
height: 100px;
width:100px;
}
.top img{
position:relative;
overflow: hidden;

    ¨
}

.mid{
    justify-content: center;
    background-color:aliceblue;
    display:inline-flex;
    height: 100px;
    width:100px;
}

.mid img{
    position:relative;
    overflow: hidden;
}
.bottom{
    background-color:aliceblue;
    display:inline-flex;
    height: 100px;
    width:100px;
}

.bottom img{
    position:relative;
    overflow: hidden;
}
.color{
    height:90px;
    width:100%;
    background-color:darkcyan;
}

#restart-tic-tac-toe{
font-size:150%;
background-color:yellow;
color:black;
padding:7px;
margin-top:20px;
border-radius:10%
}
.color button:hover{
    border-color:black;
}